<!DOCTYPE html>  
<html lang="en">  
<head>  
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
<title>Formulario de inserción de facturas en MySQL con Django por ProyectoA</title>  
</head>  
<body>  

<div class="container">
	<h2>Añadir factura - Proyecto A</h2>

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
  
	{% block content %}
    <div class="row">
		<form action="" method="post">
			{% csrf_token %}
			<table>
			{{ form }}
			</table>			
			<button type="submit" class="btn btn-primary btn-sm" value="">Añadir factura</button>
		</form>
    </div>	
	{% endblock %}
</div>

</body>  
</html>