{% extends 'base_view.html' %}


{% block content %}
    <div class="container"><a href="/add" class="btn btn-primary">Add New Movie</a></div>
    <table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Url</th>
        <th>Language</th>
        <th>Summary</th>
        <th>Actions</th>
        <th>Reactions</th>
    </tr>
    </thead>
    <tbody>
{% for movie in movies %}
    <tr>
        <td><img src='{{ movie.image }}' height="100"/></td>
        <td>{{ movie.name }}</td>
        <td>{{ movie.url }}</td>
        <td>{{ movie.language }}</td>
        <td>{{ movie.summary }}</td>
        <td>
            <a href="/edit/{{ movie.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/delete/{{ movie.id }}"><span class="glyphicon glyphicon-trash" >Remove</span></a>
        </td>
        <td>
            <i class="bi bi-emoji-smile">0</i>
            <i class="bi bi-emoji-heart-eyes">0</i>
            <i class="bi bi-emoji-neutral">0</i>
            <i class="bi bi-emoji-laughing">0</i>
            <i class="bi bi-emoji-dizzy">0</i>
            <i class="bi bi-emoji-frown">0</i>
            <i class="bi bi-emoji-angry">0</i>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}